/* General Reset */
body, h1, h2, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button#theme-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

nav ul.menu li {
    margin: 0 15px;
}

nav ul.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content h2 {
    color: #0078d7;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

/* Dark Mode */
/* body.dark {
    background: #222;
    color: #fff;
}

body.dark header {
    background: #444;
} */
footer{
    text-align: center;
    background-color: #333;
    color:white;
    padding: 10px 20px;
}

.theme-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    background: linear-gradient(to right,#343434, #4c4b4b);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.resume {
    background: #fff;
    box-shadow: 5px 5px 10px rgba(236, 232, 232, 0.1);
}
body.dark-theme .header p {
    margin: 5px 0 0;
    color: #ddd;
}

body.dark-theme .header a {
    margin: 5px 0 0;
    color: #ddd;
}

body.dark-theme {
    background-color: #222;
    color: #ddd;
}

body.dark-theme .resume {
    background: #333;
    color: #ddd;
}

body.dark-theme .left {
    background: linear-gradient(to right,#343434, #4c4b4b);
}

body.dark-theme .right {
    background: linear-gradient(to right,#343434, #4c4b4b);
}

body.dark-theme .progress {
    background: #00ff99;
}


